<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.castio.search">

    <application>
        <activity android:name="com.castio.search.ui.SearchActivity" />
        <activity android:name="com.castio.search.ui.SearchResultActivity" />
    </application>
</manifest>